<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8; height: 52px;">
 <div class="container-fluid" style="width: 100%;">
    <div class="navbar-header" style="width: 100%;">
    	<div style="float:left; width: 50px;">
    		<a class="navbar-brand" href="/resourcepage" aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	</div>
      	<div style="float:left; width: calc(100% - 100px); text-align: center;">
      		<p style="font-size: 20px; font-weight: bold; margin:0; padding: 11px 0;">Donation Form</p>
      	</div>
      	<div style="clear: both"></div>
    </div>		
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->
<div id="donation-form" class="main-content">
	<p class="err-msg" style="color:red;"></p>
	<form id="myform" action="/resources/adddonation" method="post">
		<fieldset>
		<div class="resource-cat" style="">
			<label>Resource Category:</label>
            <select class="resource-cat-opt" name="resourcecat" style="padding: 7px; width: 200px; border-color: #ccc;">
              
            </select>
        </div>
        </br>
        <div class="resource-type" style="">
            <label>Resource Type:</label>
            <select class="resource-type-opt" name="resourcetype" style="padding: 7px; width: 200px; border-color: #ccc;">
        
            </select>
        </div>
        </br>
        
        <div class="qty-avail">
			<label>Quantity Available:</label>
			<span></span>
		</div>
		
		<div class="qty">
			<label>Quantity Donated:</label>
			<input type="text" name="donation" class="qty-amt"/>
			<span></span>
		</div>	

		<input hidden id="requser" name="requser"/>	
	   </fieldset>
	</form>
</div> 
<div class="footer">
	<input id="add-donation" type="submit" form="myform" value="Submit" onclick="return validateDonation()";/>
</div>