<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8;">
  <div class="container-fluid">
   

    <div class="navbar-header">
      	<a class="navbar-brand" href="/myrequestpage" aria-hidden="t/rue" style="float:left;"><span class="glyphicon glyphicon-chevron-left"></span></a>	
      	<h4>Request Form</h4>
      
    </div>
			
			
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->

<div style="clear: both"></div>
<div id="announcement" class="alert alert-info" role="alert">
	<span id="new_announce_post"><strong></strong></span> 
</div>



<div id="request-form" style="padding: 15px;">

<p class="err-msg" style="color:red;"><%=error %></p>
	
	<form action="/requests/addrequest" method="post">
		<fieldset>
		<div class="resource-cat" style="">
			<label>Resource Category:</label>
            <select class="resource-cat-opt" name="resourcecat" style="padding: 7px; width: 200px; border-color: #ccc;">
              
            </select>
        </div>
        </br>
        <div class="resource-type" style="">
            <label>Resource Type:</label>
            <select class="resource-type-opt" name="resourcetype" style="padding: 7px; width: 200px; border-color: #ccc;">
        
            </select>
        </div>
        </br>
        
        <div class="qty-avail">
			<label>Quantity Available:</label>
			<span></span>
		</div>
		
		<div class="qty">
			<label>Quantity Requested:</label>
			<input type="text" name="requested" class="qty-amt"/>
			<span></span>
		</div>	

		<input hidden id="requser" name="requser"/>
		<input id="add-request" type="submit" value="Submit Request" onclick="return validateRequest()";/>
		
	   </fieldset>
	</form>
	
</div> 