<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8;">
	<div class="container-fluid" style="width: 100%;">
	    <div class="navbar-header" style="width: 100%;">
	    	<div style="float:left; width: 50px;">
	    		<a class="navbar-brand" href="/community" aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></a>
	    	</div>
	      	<div style="float:left; width: calc(100% - 100px); text-align: center;">
	      		<p style="font-size: 20px; font-weight: bold; margin:0; padding: 11px 0;">Reserved Resources</p>
	      	</div>
	      	<div style="clear: both"></div>
	    </div>		
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">
	    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->
<div  class="main-content">
	<p class="err-msg" style="color:red;"></p>
	
	<div class="medical-box">
		<h4><span class="glyphicon glyphicon-briefcase"></span> Medical Supplies </h3>
		<div>
			<table class="medical-requests">
			<tr>
			<th></th>
			<th>Resource Requested</th>
			<th>Quantity Requested (Units)</th>
			<th>Requested By</th>
			<th>Request Date</th>
			</tr>
			</table>
		</div>
	</div>

	<div class="food-box">
		<h4><span class="glyphicon glyphicon-apple"></span> Food Supplies </h3>
		<div>
		<table class="food-requests">
			<tr>
			<th></th>
			<th>Resource Requested</th>
			<th>Quantity Requested (Units)</th>
			<th>Requested By</th>
			<th>Request Date</th>
			</tr>
		</table>
		</div>
	</div>
</div> 
<div class="footer">
	<input id="req-picked" type="submit" value="Mark as Picked" onclick="picked()"/>
	<input id="req-cancelled" type="submit" value="Cancel Requests" onclick="cancelled()"/>
</div>
