<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8;">
  <div class="container-fluid">
   

    <div class="navbar-header">
      	<a class="navbar-brand" href="/community" aria-hidden="true" style="float:left;"><span class="glyphicon glyphicon-home"></span></a>
        <span stye="position:center;">My Requests</span>
        <a class="navbar-brand" href="/addrequest" aria-hidden="true" style="float:right;"><span class="glyphicon glyphicon-plus"></span></a>		
      
    </div>
			
			
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->

<div style="clear: both"></div>
<div id="announcement" class="alert alert-info" role="alert">
	<span id="new_announce_post"><strong></strong></span> 
</div>



<div class="request-list" style="padding: 15px;">

	
	<div class="medical-box">
		<h4><span class="glyphicon glyphicon-briefcase"></span> Medical Supplies </h3>
		<div>
			<table class="medical-requests">
			<tr>
			<th>Picked Up</th>
			<th>Resource Requested</th>
			<th>Quantity Requested (Units)</th>
			<th>Request Date</th>
			<th>Picked Up Date</th>
			</tr>
			</table>
		</div>
	</div>

	<div class="food-box">
		<h4><span class="glyphicon glyphicon-apple"></span> Food Supplies </h3>
		</div>
		<table class="food-requests">
			<tr>
			<th>Picked Up</th>
			<th>Resource Requested</th>
			<th>Quantity Requested (Units)</th>
			<th>Request Date</th>
			<th>Picked Up Date</th>
			</tr>
		</table>
		</div>
	</div>

</div> 
