<div class="row">
<!-- private wall content -->
	<div class="" style="margin: 0 auto;width:80%;padding-top:0px"  id="private_room">
  <div class="clr" style="height:2vh;"></div>              
     <div style="height:68vh;overflow-y: auto; display:block" id="private_messages">	
     		<span hidden id="targetUserName"><%= targetName%></span>				               
		<ul id="privMsgList"  style="list-style-type:none;-webkit-padding-start: 0px;">
		</ul>
     </div>                 
                                
      <div class="clr" style="height:2vh;"></div>                                  
		<!-- message text box-->
		<div style="">
		<div class="room" style=""> 
			<form class="form" action="/message" method="post"> <!--POST to backend-->
				<div class="input-group text-center">
					<input type="text" class="form-control input-lg privInputMessage" placeholder="Type here...">
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" id="privSubmitMessage" type="button">OK</button>
					</span>
				</div>
			</form> 
		</div> 
	</div>                         
	</div>
</div>