<div class="public-wall-container">
<!-- private wall content -->

    <div class="public-wall-content"  id="private_messages">	
     	<span hidden id="targetUserName"><%= targetName%></span>				               
		<ul id="privMsgList"  style="list-style-type:none;-webkit-padding-start: 0px;"></ul>
    </div>                                         
	<!-- message text box-->
	<div class="post-message"> 
		<div class="input-group text-center">
			<input type="text" class="form-control input-sm privInputMessage" placeholder="Message...">
			<span class="input-group-btn">
				<button class="btn btn-sm btn-success" id="privSubmitMessage" type="button">Send</button>
			</span>
		</div>
	</div>     	                  
</div>

 

