<div class="public-wall-container">
<!-- public wall content -->
	<div class="public-wall-content" id="public_messages">						               
		<ul id="messages" class="messages" style="list-style-type:none;-webkit-padding-start: 0px;"></ul>
		</div>                  
	<!-- message text box-->
	<div class="post-message"> 
		<div class="input-group text-center">
			<p hidden id="isnewuser"><%=isNewUser %></p>
			<input type="text" class="form-control input-sm inputMessage" placeholder="Message...">
			<span class="input-group-btn">
				<button class="btn btn-sm btn-success" id="submitMessage" type="button">Send</button>
			</span>
		</div>
	</div> 
</div>