<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8;">
  <div class="container-fluid" style="width: 100%;">
    <div class="navbar-header" style="width: 100%;">
    	<div style="float:left; width: 50px;">
    		<a class="navbar-brand" href="/community" aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	</div>
      	<div style="float:left; width: calc(100% - 120px); text-align: center;">
      		<p style="font-size: 20px; font-weight: bold; margin:0; padding: 11px 0;">Resource Inventory</p>
      	</div>
      	<div class="addResource">
			<a href="/resourcedonation" aria-hidden="true"><span style="margin-right: 10px;" class="glyphicon glyphicon-plus"></span>Add</a>
		</div>
    </div>		
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->

<div style="clear: both"></div>
<div id="resource-inventory" style="padding: 15px;">
	<div class="medical-box">
		<h4><span class="glyphicon glyphicon-briefcase"></span> Medical Supplies </h3>
		<div>
			<table id="medical-inventory" style="width: 100%;" name="medicalinv">
			<tr>
			<th width="40%">Resource Type</th>
			<th width="10%">Quantity Available</th>
			<th width="10%">Quanity Reserved</th>
			<th width="20%">Units</th>
			</tr>
			</table>
		</div>
	</div>

	<div class="food-box">
		<h4><span class="glyphicon glyphicon-apple"></span> Food Supplies </h3>
		</div>
		<table id="food-inventory" style="width: 100%;">
			<tr>
			<th width="40%">Resource Type</th>
			<th width="10%">Quantity Available</th>
			<th width="10%">Quanity Reserved</th>
			<th width="20%">Units</th>
			</tr>
		</table>
		</div>
	</div>

</div> 
