<!--Navbar -->
<nav class="navbar navbar-default " style="margin-bottom: 0px;border-color: #f8f8f8;">
  <div class="container-fluid">
   

    <div class="navbar-header">
      	<a class="navbar-brand" href="/community" aria-hidden="true" style="float:left;"><span class="glyphicon glyphicon-home"></span></a>
        <span stye="position:center;">Resource Inventory</span>
        <a class="navbar-brand" href="/resourcedonation" aria-hidden="true" style="float:right;"><span class="glyphicon glyphicon-plus"></span></a>		
      
    </div>
			
			
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="top_menu_dropdown">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--/Navbar-->

<div style="clear: both"></div>
<div id="resource-inventory" style="padding: 15px;">

	
	<div class="medical-box">
		<h4><span class="glyphicon glyphicon-briefcase"></span> Medical Supplies </h3>
		<div>
			<table id="medical-inventory">
			<tr>
			<th>Resource Type</th>
			<th>Quantity Available</th>
			<th>Quanity Reserved</th>
			<th>Units</th>
			</tr>
			</table>
		</div>
	</div>

	<div class="food-box">
		<h4><span class="glyphicon glyphicon-apple"></span> Food Supplies </h3>
		</div>
		<table id="food-inventory">
			<tr>
			<th>Resource Type</th>
			<th>Quantity Available</th>
			<th>Quanity Reserved</th>
			<th>Units</th>
			</tr>
		</table>
		</div>
	</div>

</div> 
