<!-- Right Side Bar for Menu Partial -->
<nav id="c-menu--push-right" class="c-menu c-menu--push-right">
    <button style="display:none;" class="c-menu__close"><span  class="glyphicon glyphicon-menu-right"></span></button>
    <ul class="c-menu__items">
        
    </ul>
</nav><!-- /c-menu push-right -->