  <div style="position: relative; top: 30px; width:90%; margin: auto auto; height: 200px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="btn-group">
        
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="searchCat">Search Category
          <span class="caret"></span>
        </button>
        <ul class="search-context dropdown-menu dropdown-inverse">
          <li><a href="#">Citizen</a></li>
          <li><a href="#">Citizen Status</a></li>
          <li><a href="#">Announcements</a></li>
          <li><a href="#">Public Messages</a></li>
          <li><a href="#">Private Messages</a></li>
        </ul>
        <div id="search-box" class="flexContainer">
          <input type="text" class="form-control" placeholder="Search SSNoC...." id="searchText"  style="width: 200px; display:block;">
          <div id="userStatus" style="display: none;">
            <select id="statusOptions" style="padding: 7px; width: 200px; border-color: #ccc;">
              <option value="">Choose Status</option>
              <option value="1">Emergency</option>
              <option value="2">Help</option>
              <option value="3">OK</option>
              <option value="4">No Status</option>
            </select>
          </div>
      		<div>
            <button class="btn btn-default" type="submit" id ="submitSearch"><span class="glyphicon glyphicon-search"></span></button>
          </div>
					<div style="padding-left:20px;">
          <a href="/community"><span>Cancel</span></a>
				</div>
        </div>
        
      </div>  
		</div>	    
