<div class="row">
<!-- Search wall content -->
 <p>&nbsp;&nbsp;&nbsp;&nbsp;       Search Results</p>
	<div class="" style="margin: 0 auto;width:80%;padding-top:0px; display:block;"  id="search_wall">
  	<div class="clr" style="height:2vh;"></div>              
		<div style="height:68vh;overflow-y: auto;" id="">						               
			<ul id="citizenList" class="" style="list-style-type:none;-webkit-padding-start: 0px;">		
			</ul>
			<ul id="searchList" class="" style="list-style-type:none;-webkit-padding-start: 0px;">		
			</ul>
  	</div>                  
	
	                        
	</div>
</div>