
<!--Top Default Navigation Bar Partial -->
<header class="o-header">
    <nav class="navbar navbar-default" style="margin-bottom: 0; background-color: #ABC8E2; border: none; border-radius: 0;">
      <div id="c-button--push-left" class="nav-actions pull-left"><span class="glyphicon glyphicon-user user_directory"></span></div>
      <div id="c-button--push-right" class="nav-actions pull-right"><span  class="glyphicon glyphicon-menu-hamburger"></span></div>
       <a href="/searchpage" id ="search-page" class="search-page pull-right nav-actions"><span  class="glyphicon glyphicon-search"></span></a>
       <h4 id="navtitle" class="nav-title" style="display:none";></h4>
    </nav>
</header><!-- /o-header -->

<div id="announcement" class="alert alert-info" role="alert">
    <span id="new_announce_post">
        <strong></strong> 
    </span> 
</div>

