<div class="row">
<!-- public wall content -->
	<div class="" style="margin: 0 auto;width:80%;padding-top:50px;">
                               
		<ul id="messages" class="messages" style="list-style-type:none;-webkit-padding-start: 0px;">
			<li>
			<!-- message container-->                    
			<div class="panel panel-default">
				<div class="panel-heading"> 
				<h4><%=user.username %><span style="float:right;"><small><%=user.lastLoginTime %></small></span></h4>
				</div>
      	<div class="panel-body">
					
					content...
				</div>
			</div>
			</li>
			<li>
			<!-- message container-->                    
			<div class="panel panel-default">
				<div class="panel-heading"> 
				<h4><%=user.username %><span style="float:right;"><small><%=user.lastLoginTime %></small></span></h4>
				</div>
      	<div class="panel-body">
					
					content...
				</div>
			</div>
			</li>
			
		</ul>
                       
                                
                               
		<!-- message text box-->
		<div class="well" style=""> 
			<form class="form" action="/message" method="post"> <!--POST to backend-->
				<h4>Say Something</h4>
				<div class="input-group text-center">
					<input type="text" class="form-control input-lg inputMessage" placeholder="Type here...">
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" id="submitMessage" type="button">OK</button>
					</span>
				</div>
			</form> 
		</div>                          
	</div>
</div>