<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" style="font-weight: bold; color: white;">
                    Directory   
                </li>

                <% userDirectory.forEach(function(userItem){ %>
                    <li>
                    <% if (userItem.online) { %>
                            <a href="#" style="color: green;">
                           <% if(userItem.statusid===1){ %>
                                    <span class="glyphicon glyphicon-plus-sign" style="color: red;" aria-hidden="true"></span>
                             <% }
                                else if(userItem.statusid===2){ %>
                                   <span class="glyphicon glyphicon-exclamation-sign" style="color: yellow;" aria-hidden="true"></span>
                             <% }
                                else if(userItem.statusid===3){ %>
                                    <span class="glyphicon glyphicon-ok-sign" style="color: green;" aria-hidden="true"></span>
                             <% }
                                else { %>
                                <span class="glyphicon glyphicon-question-sign" style="color: grey" aria-hidden="true"></span>
                             <% } %> <%= userItem.username %>
                            </a>
                   
                    <% } else { %>
                            <a href="#" style="color: grey;"> 
                            <%  if(userItem.statusid===1){ %>
                                    <span class="glyphicon glyphicon-plus-sign" style="color: red;" aria-hidden="true"></span>
                             <%   }
                                else if(userItem.statusid===2){ %>
                                   <span class="glyphicon glyphicon-exclamation-sign" style="color: yellow;" aria-hidden="true"></span>
                             <%   }
                                else if(userItem.statusid===3){ %>
                                    <span class="glyphicon glyphicon-ok-sign" style="color: green;" aria-hidden="true"></span>
                             <% }
                                else{  %>
                                <span class="glyphicon glyphicon-question-sign" style="color: grey" aria-hidden="true"></span>
                             <% } %> <%= userItem.username %>
                            </a>
                     <% }  %>
                </li>

             <%  });  %>
            </ul>
        </div>
<!-- /#sidebar-wrapper -->