 <% layout('./layouts/layout2') -%>
 <div class="clr" style="height:40px;"></div>
 <div class="form-inline">
	 <div class="form-group">
	     <label for="">Duration of the test (in second)</label>
	     <input type="text" class="form-control" id="test_duration" placeholder="In seconds...">
	   </div>
		 <button type="submit" id="start_testing_post" class="btn btn-default">POST</button>
		 <button type="submit" id="start_testing_get" class="btn btn-default">GET</button>
		 <button type="submit" id="stop_testing" class="btn btn-default">Stop</button>
		 <button type="submit" id="end_testing" class="btn btn-default">End Testing</button>
 </div>
 
 <div class="clr" style="height:50px;"></div>
 <div >
 <table class="table table-hover">
  <tr style="font-weight:bold;">
		<td>Request</td>
		<td>[C]#</td>
		<td>[C]# of Request/Second</td>
		<td>[S]#</td>
		<td>[S]# of Request/Second</td>
	</tr> 
	<tr>
		<td>POST</td>
		<td id="post_req_num_c">0</td>
		<td id="post_req_time_c">0</td>
		<td id="post_req_num_s">0</td>
		<td id="post_req_time_s">0</td>
	</tr>
	<tr>
		<td>GET</td>
		<td id="get_req_num_c">0</td>
		<td id="get_req_time_c">0</td>
		<td id="get_req_num_s">0</td>
		<td id="get_req_time_s">0</td>
	</tr>
	
 </table>
</div>