 <% layout('./layouts/layout3') -%>
 <div class="clr" style="height:40px;"></div>
 <h4>Missing People</h4>
<div id="">

  
  <div class="module btcf photo-wrap" style="background-color: #f2f2f2;  ">
		<div class="">
		<div class="col-xs-6"><div class="photo" style="background-color: #666; "></div></div>
		<div class="col-xs-6">
			<p><strong>Angel Fu</strong></p>
			<p><strong>25 Years Old</strong></p>
			<p><strong>162 CM</strong></p>
			<p><strong>xx KGS</strong></p>
			<p><strong>Mountain View, CA</strong></p>
		</div>
		</div>
	  <div class="clr" style="height:10px;"></div>
		<div class="col-xs-12">
			<p><strong>Description</strong></p>
			<p>
				She was dropped off at the Shell Gas Station after she and 
				her sister got into a verbal argument; she has not been seen nor heard from since. 
			</p>
		</div>	
		<div class="col-xs-12">
			<p><strong>Note</strong></p>
			<p>
				shohdf sdfkjan;sf sadfhuq dfasd 
			</p>
		</div>
		<div class="col-xs-12">
			<p><strong>Last Seen</strong> 2015-10-28 17:30</p>
		</div>
    
		
    
  

	
</div>
<div class="controll-panel">
	<div class="col-xs-5">
  	<button type="button" class="btn btn-default">PASS</button>
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-5">
		<button type="button" class="btn btn-warning">FOUND</button>
	</div>
</div>

 
</div>
