 <% layout('./layouts/layout3') -%>
 <div class="clr" style="height:60px;"></div>
 <h3>Missing People
 <a href="/missing/new"><span style="float:right;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span></a>
 </h3>
<div>
 
  <div class="module btcf photo-wrap" style="background-color: #f2f2f2;  ">
		<% include ./partials/people_deck %>	
</div>
<div class="controll-panel">
	<div class="col-xs-5">
  	<a class="btn btn-default btn-pass" style="cursor: hand;">PASS</a>
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-5">
		<a data-toggle="modal" data-target="#citizenFoundModal" class="btn btn-warning">FOUND</a>
	</div>
</div>


</div>
