<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SSNoC</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <!--scripts: jquery, bootstrap and other custom js -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
      <script src="../js/pickrequest.js"></script>
  </head>

  <body>

    <!--wrapper -->
    <div id="wrapper">
       

        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding: 0px;">
          
          <div><% include ./partials/managerequests %></div>

        </div><!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->


    


  
    <!--welcomeModal--> 
  <%if (user.roleid != 3) { %>
    <% include ./partials/announceMsg %>
  <% } %>



  </body>

</html>