<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>SSNoC</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/pushmenustyle.css" rel="stylesheet" >
    <link href="../css/style.css" rel="stylesheet">

  </head>

  <body>

    <div id="o-wrapper" class="o-wrapper"> 
        <!--Search Nav and Body Start-->
        <% include ./partials/searchcontent%>
        <!--Search Nav and Body End-->
    </div>
   
    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->

    <!--scripts: jquery, bootstrap, socket-->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!--Scripts: Custom -->
    <script src="../js/utility.js"></script>
    <script src="../js/search.js"></script>
   
    
  </body>
</html>