body{padding-top:20px;}

html, body{
	/*width: 100%;
	height: 100%;	*/
	margin: 0;
	padding: 0;
  font-family: sans-serif;
	max-width: 100%;
	    overflow-x: hidden;
}

.full-height{
	height: 100%;
}

.full-width{
	width: 100%;
}

.clickable {
    cursor: pointer;
}

.clr{
	clear:both;
	width:100%;
}

#online_list, #offline_list{
	list-style-type:none;
}
#user_list li, #offline_list li{
	text-indent: 0px;
}
/*
.well{ 
	position: fixed; 
	width: 85%;
	left: 4%;
	transform: translate(-10%, 0);
	bottom:0%;
	margin-bottom: 10px; 
}
.messages{
	margin-bottom: 180px;
}*/

.status_list li{
	text-indent: 0px; 
}
.status_list li>a{
	text-align: center;
}
.status_list li>a:hover{
	color:#000 !important;
}

.ok{
	color:green !important;
}
.messages_item{
	
}
.chat_author{
	font-weight: bold;
    font-size: 14px;
    float: left;
}

.chat_timestamp{
	float:right;
	font-size: 10px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 0
}

.chat-messsage{
	font-size: 14px;
}
.badge{
	margin-left:10px;
}
.flexContainer {
    display: flex;
}
#searchText {
    flex: 1;
}


.user-list{
    list-style: none;
    margin-left: 20px;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 0;
    margin-bottom: 0;
}

.searchlist_item {
	padding: 10px; 
	border: 1px solid #CCCCCC;
}
.srch_username {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0
}

.srchlocation{
	margin: 0;
	font-size: 11px;
}

.nav-actions{
	padding: 10px 15px;
}

.search-page{
	display:  block;
	color: #6d6d6d;
}

.nav-actions:hover{
	color: white !important;
	cursor: pointer;
}

.clear-float{
	clear:both;
}

.alert-info{
	color: #31708f;
    background-color: #EBEDF7;
    border: none;
    border-radius: 0;
}

.alert{
	padding: 6px 20px; 
	margin-bottom: 0px;
	height: 50px;
}

.announcement-text{
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.announcement-by{
	font-size: 10px;
	font-style: italic;
	text-align: right;
}

.btn-success, .btn-primary{
	background-color: #1C405E;
	border-color: #ABC8E2;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus,.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #4777A6;
	border-color: #ABC8E2;
}

.panel-default>.panel-heading{
	background-color: #C4D7ED;
}

.public-wall-container{
	height: calc(100% - 100px);
}

.public-wall-content{
	height: calc(100% - 52px);
	overflow: auto;
}

.post-message{
	padding: 10px 15px;
    border-top: 1px solid #c7c7c7;
    border-radius: 0;
    background-color: #F2F2E5;
}

blockquote{
	border-left: none;
	border-bottom: 1px solid #eee;
    padding: 10px 20px;
    margin: 0
}

.search-result-block{
	border-left: none;
    padding: 10px 20px;
    margin: 0
}

.search-result{
	 height: calc(100% - 50px);
    overflow: auto;

}

.search-options{
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 108px;
    padding: 6px;
    font-size: 10px;
}

.search-category{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 3px 8px;
    height: 28px;
}

.cancel-search{
	padding: 4px 5px;
    height: 28px;
    font-size: 12px;
}

.cancel-search a {
	color: #6d6d6d;	
}

.cancel-search a:hover, .cancel-search a:focus, .cancel-search a:active {
	color: white;
	text-decoration: none	
}

.search-input{
	width: 120px;
    display: block;
    height: 28px;
    border-radius: 0;
    font-size: 12px;
    padding: 6px;
}


.status-options{
	padding: 4px;
    width: 120px;
    border-color: #ccc;
    height: 28px;
    font-size: 12px;
}


.icon-margin{
	padding-right: 10px;
}

.c-menu--push-right .c-menu__item{
	text-align: left;
	border-bottom: none;
	border-top: 1px solid #ABC8E2 !important;
}

.error-message{
	background-color: red;
    color: white;
    text-align: center;
}

.nav-title{
	text-align: center;
    font-size: 16px;
    color: #6d6d6d;
    margin: 14px 0;
}