@import
	url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

#hd1 {
	font-family: Broadway;
	background-color: #993300;
	color: white;
	font-size: 25px;
	text-align: center;
	width: 300px;
	position: fixed;
	top: 270px;
	right: 530px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 21px;
	font-weight: bold;
}

body ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 21px;
	font-weight: bold;
}

body :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	opacity: 1;
	font-size: 21px;
	font-weight: bold;
}

body ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	opacity: 1;
	font-size: 21px;
	font-weight: bold;
}

body :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	font-size: 21px;
	font-weight: bold;
}

.wrapper {
	background: #66E0FF;
	background: -webkit-linear-gradient(top left, #33CCFF 0%, #33CCFF 100%);
	background: linear-gradient(to bottom right, #33CCFF 0%, #33CCFF 100%);
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 400px;
	margin-top: -200px;
	overflow: hidden;
}

.wrapper.form-success .container h1 {
	-webkit-transform: translateY(85px);
	-ms-transform: translateY(85px);
	transform: translateY(85px);
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 80px 0;
	height: 600px;
	text-align: center;
}

.container h1 {
	font-size: 40px;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-put;
	transition-timing-function: ease-in-put;
	font-weight: 200;
}

form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}

form input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: white;
	width: 250px;
	border-radius: 3px;
	padding: 10px 10px;
	height: 60px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 25px;
	color: #0099FF;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}

form input:hover {
	background-color: white;
}

form input:focus {
	background-color: white;
	width: 300px;
	color: #0000FF;
}

form button {
	background-color: white;
	border-radius: 20px;
	border: 3px solid #1A6680;
	cursor: pointer;
	color: #1A6680;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 18px;
	padding: 8px 20px;
	text-decoration: none;
}

form button:hover {
	background-color: #29A3CC;
}

#re-entry {
	background-color: white;
	border-radius: 20px;
	border: 3px solid #1A6680;
	cursor: pointer;
	color: #1A6680;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 18px;
	padding: 16px 31px;
	text-decoration: none;
}

#re-entry:hover {
	background-color: #29A3CC;
}

#relogin {
	background-color: white;
	border-radius: 20px;
	border: 3px solid #1A6680;
	cursor: pointer;
	color: #1A6680;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 18px;
	padding: 16px 31px;
	text-decoration: none;
}

#relogin:hover {
	background-color: #29A3CC;
}

#lo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}