
        
      <!--Announcement msg -->
       
  
  <div class="modal fade bs-example-modal-sm" id="citizenFoundModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3>Found Missing Person</h3>
				</div>
				<div class="modal-body">
				<div style="width:90%;margin:auto auto;">	
			
			<div class="clr" style="height: 40px;"></div> 
			<div>
				<div class="col-xs-4">
		    	<div class="" style="background-color: #666; min-height:100px;">	
					<img class="report_pimage" src="/uploads/minions.jpeg" style="max-width:100%;
						max-height:100%;"/>	
		    	</div>
				</div>
				<div class="col-xs-8">
					<p hidden class="report_pid">4</p>
					<p>Name: <span class="report_pname">Eileen Wei</span> </p>
					<p>Age: <span class="report_page">24 Years Old</span> </p>
					<p>Location: <span class="report_plocation">Mountain View, CA</span> </p>
					<p>Last Seen: <span class="report_plastseen">2015-11-21 15:30</span> </p>
				</div>	
			</div>
			<div class="clr" style="height: 20px;"></div> 
			<div id="found_report" class="form-horizontal" >
			  <div class="form-group">
			    <label class="col-xs-3 control-label">Location</label>
					<div class="col-xs-9">
			    	<input type="text" class="form-control" placeholder="Location" name="location" id="found_report_location" required>
					</div>
			  </div>
			  <div class="form-group">
			    <label class="col-xs-3 control-label">Time</label>
					<div class="col-xs-9">
			    	<input type="datetime" class="form-control" placeholder="Time" name="lastseen"  value="2015-11-06T10:57Z" id="found_report_lastseen" required>
					</div>
			  </div>
			  <div class="form-group">
			    <label class="col-xs-3 control-label">Note</label>
					<div class="col-xs-9">
			    	<textarea class="form-control" rows="5" name="note" id="found_report_note"></textarea>
					</div>
			  </div>
			  
			</div>
       
			
</div>
		</div>

				<div class="clr" style="height: 20px;"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-primary find_person">Find Person</button>
        </div> 
      </div><!-- /.modal-content -->
    </div>
  </div>
<!--/#welcomeModal -->

        
      