        
      <!--Announcement msg -->
       
  
  <div class="modal fade bs-example-modal-sm" id="citizenMissingModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3>Is the person a Citizen?</h3>
				</div>
				<div class="modal-body">
				<div style="width:90%;margin:auto auto;">	
			<form class="form-inline">
			  <div class="form-group">
			    <label class="col-xs-3">Username</label>
					<div class="col-xs-6">
			    	<input type="text" class="form-control" placeholder="EileenW">
					</div>
					<div class="col-xs-3">
					  <a class="btn btn-default">
					  	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					  </a>
					</div>	
			  </div>
			  
			</form>
       
			<div class="clr" style="height: 40px;"></div> 
			<div class="citizenMissingResult">
				<div class="col-xs-4">
		    	<div class="" style="background-color: #666; min-height:100px;">		
		    	</div>
				</div>
				<div class="col-xs-8">
					<p>Name: Eileen Wei </p>
					<p>Age: 24 Years Old </p>
					<p>Location: Mountain View, CA </p>
					<p>Last Seen: 2015-11-21 15:30 </p>
				</div>	
			</div>	    
</div>
		</div>

				<div class="clr" style="height: 20px;"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-primary confirm_citizen">Confirm Citizen</button>
        </div> 
      </div><!-- /.modal-content -->
    </div>
  </div>
<!--/#welcomeModal -->

        
      