<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SSNoC</title>

   
 
    
		
		

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/simple-sidebar.css" rel="stylesheet">
		
    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
		<script src="../js/utility.js"></script>
		<script src="../js/main.js"></script>
		<script src="/socket.io/socket.io.js"></script>
   
  </head>

  <body>

        <%- body %>

  </body>

</html>