<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SSN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utility.js"></script>
    <script> setHeightCrossDomainIframe();</script>
</head>
<body>
	<div class="container">
	<%- body %>
	</div>	
<script type="text/javascript"></script>
</body>
</html>