<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SSNoC</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">

  </head>

  <body>

    <!--wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <% include ./partials/sidebar %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding: 0px;">
            
                    
                    <!--Top Navbar-->
										<div style="height: 14vh;">
                        <% include ./partials/topnav %>
										</div>		
                    <!--Top Navbar-->   

        
			
      <!-- Public Chat Wall -->
			<div class="height: 2vh;" ></div>
          
          <div class="" >
          <% include ./partials/private_room %>
          </div>
         
          <div class="" >
              <% include ./partials/public_wall %>
              
          </div>
            
      <!--Public Chat Wall wrapper -->
			
			
	x
		
        <!--welcomeModal wrapper -->
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->


    <!--scripts: jquery, bootstrap and other custom js -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/utility.js"></script>
	<script src="../js/main.js"></script>
	<script src="/socket.io/socket.io.js"></script>

        <!--welcomeModal-->	

	<%if (isNewUser) { %>
		<% include ./partials/welcomeMsg %>
	<% } %>	
	
    <!--welcomeModal-->	
	<%if (user.roleid != 3) { %>
		<% include ./partials/announceMsg %>
	<% } %>



  </body>

</html>