<% layout('./layouts/layout') -%>
	<div class="login-02">
		<div class="two-login  hvr-float-shadow">
			<div class="two-login-head">
					<img src="images/top-note.png" alt=""/>
					<h2>register</h2>
					<lable></lable>
			</div>
			<form action="/" method="post">
				<li>
					<input type="text" class="text" name="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" ><a href="#" class=" icon2 user2"></a>
				</li>
				<li>
					<input type="password" name="password" value="Password1" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon2 lock2"></a>
				</li>
				<li>
					<input type="password" value="Password2" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}"><a href="#" class=" icon2 lock2"></a>
				</li>
				<div class="p-container">
					<input type="checkbox" name="checkbox"><i></i>I agree to the <a href="#">Terms of Servicee</a></label>
				</div>
				<div class="submit two">
						<input type="submit" onclick="myFunction()" value="SIGN UP" >
				</div>
					<h5>Already a member ?<a href="#"> Login Here</a></h5>
			</form>
		</div>
	</div>