<!DOCTYPE html>
<html>
<head>
<title>SSN</title>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat UI Web Form Widget and Kit,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
</head>
<body>
</body>
</html>
	<!--/start-login-two-->
	<div class="login-02">
		<div class="two-login  hvr-float-shadow">
			<div class="two-login-head">
					<img src="images/top-note.png" alt=""/>
					<h2>register</h2>
					<lable></lable>
			</div>
			<form>
				<li>
					<input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" ><a href="#" class=" icon2 user2"></a>
				</li>
				<li>
					<input type="password" value="Password1" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon2 lock2"></a>
				</li>
				<li>
					<input type="password" value="Password2" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}"><a href="#" class=" icon2 lock2"></a>
				</li>
				<div class="p-container">
					<input type="checkbox" name="checkbox"><i></i>I agree to the <a href="#">Terms of Servicee</a></label>
				</div>
				<div class="submit two">
						<input type="submit" onclick="myFunction()" value="SIGN UP" >
				</div>
					<h5>Already a member ?<a href="#"> Login Here</a></h5>
			</form>
		</div>
	</div>
		