
<html>
<head>
<title>Flat UI Web Form Widget and Kit :: w3layouts</title>
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat UI Web Form Widget and Kit,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
</head>
<body>

	<h1><%= user_name%></h1>
	<p>Status: <%= user_status%></p>
	<p>Role: <%= user_role%></p>
	<p>Last login: <%= last_login%></p>
</body>
</html>